# Ignore Python cache & virtual environment
__pycache__/
*.pyc
*.pyo
venv/
env/

# Ignore logs & temporary files
logs/
*.log
*.tmp

# Ignore model files & large datasets
*.pt
*.h5
*.pkl
*.mlmodel

# Ignore Docker build files
*.dockerignore

# Ignore IDE & editor-specific files
.vscode/
.idea/
